# Archivos y carpetas generadas por .NET
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de publicación
publish/
*.exe
*.dll
*.pdb
*.log

# Configuración sensible
*.db
*.bak

# Sistema
Thumbs.db
.DS_Store
